.home .home_content {
    padding: 20px 0;
    background: #FFF;
    text-align: center;
}

.home .title {
    font-size: 30px;
}

.home .home_pic {
    width: auto;
    max-width: 50%;
}

@media (min-height:900px) {
    .home .home_content {
        padding: 100px 0;
    }
}